#cont{
    width: 2000px;
}
.nav-item > a.nav-link {

    color: black;

}

.form-inline>.btn.btn-outline-danger{
    margin-left: 20px;
}

#sidebar_container{
    border-right: 1px solid #c1c1c1;

}

#newQuizbtn{
    margin: auto;
}
#title{
    margin-left: auto; margin-right: auto;
}

#sidebar_container ul li a:hover{

    background-color: #007bff;
    color: #fffbfb;

}